{% extends 'all-pictures/base.html'%}
{%block content%}

   
<h1 class="text-center">My Gallery</h1>
<div class="container">
  <div class="row">
    {% for pictures in pictures %}

    <!--Displaying the pictures-->
    <div class="card col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <img class="card-img-top" src="{{pictures.picture.url}}" alt="pictures" data-toggle="modal" data-target="#exampleModal{{pictures.id}}">

    </div>
    <div class="modal fade" id="exampleModal{{pictures.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{pictures.name}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
          </div>
          <div class="modal-body">
              <img src="{{pictures.picture.url}}" alt="{{pictures.name}}">
          </div>
          <div class="modal-footer">


          <a onclick="copyLink({{pictures.id}})"><button type="button" class="btn btn-outline-warning my-2 my-sm-0 link-btn">Copy
              image Link</button></a>
          <input class="form-control" type="text" value="https://nicholasgallary.herokuapp.com{{pictures.picture.url}}"
            id="thislinkhere-{{pictures.id}}">
          <a></a>
          <button type="button" class="btn btn-outline-success" data-dismiss="modal">Close</button>
                

  <script>
    function copyLink(id) {
      /* Get the text field */
      var copyText = document.getElementById( "thislinkhere-" + id );

      /* Select the text field */
      copyText.select();

      /* Copy the text inside the text field */
      document.execCommand( "copy" );

      /* Alert the copied text */
      alert( "Do you want to share this link?: " + copyText.value );
    }
  </script>

          </div>
        </div>
      </div>
    </div>
    {% empty %}
    <div class="row">
      <h2 class="text-center">There are No Pictures</h2>
    </div>
    {% endfor %}
  </div>
</div>
{%endblock%}

        
      
 